/* Cards */
.favorites__container {
  display: flex;
  gap: 1rem;
  margin: 0 2rem 4rem;
  flex-wrap: wrap;
}

.favorites__card {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: 1px 1px 5px 1px var(--dimday);
  width: 8rem;
}

.favorites__card:hover {
  cursor: pointer;
  box-shadow: 1px 1px 12px 1px var(--dimday);
}

.favorites__card--main-data {
  min-height: 5.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.favorites__card--main-data i {
  font-size: 3rem;
}

.temp {
  font-size: 1.5rem;
  margin: 0.5rem 0 0;
}

.location {
  font-size: 0.7rem;
  margin-bottom: 0;
}
.city,
.country {
  display: block;
}

.country {
  color: var(--gray);
}

.favorites__card--other-data {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.favorites__card--other-data div {
  display: flex;
  align-items: center;
}

.favorites__card--other-data p {
  font-size: 0.7rem;
  margin: 0 0.2rem;
}

.favorites__card--other-data i {
  font-size: 0.7rem;
}

.favorites__card--other-data .icon {
  font-size: 1rem;
}

/* Colors */
body.night .favorites__card {
  background-color: var(--dimnight);
}

.favorites__card--main-data i,
.favorites__card--other-data i {
  color: var(--red);
  background: -webkit-linear-gradient(-45deg, var(--orange), var(--red));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
