:root {
  --day: #fffcf7;
  --dimday: #e0e0e0;
  --orange: #ffb080;
  --red: #fb1970;
  --night: #081b25;
  --dimnight: #283b45;
  --blue: #28aefd;
  --purple: #ca4bf1;
  --darkpurple: #57438e;
}

body {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body.day {
  background-color: var(--day);
  color: var(--night);
}

body.night {
  background-color: var(--night);
  color: var(--day);
}

i {
  font-style: normal;
}

.icon:before {
  font-family: 'MeteoconsRegular';
  content: attr(data-icon);
}
