:root {
  --day: #fffcf7;
  --dimday: #e0e0e0;
  --orange: #ffb080;
  --red: #fb1970;
  --night: #081b25;
  --dimnight: #283b45;
  --blue: #28aefd;
  --purple: #ca4bf1;
  --darkpurple: #57438e;
  --gray: #9e9e9e;
  --white: #ffffff;
}

body {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0;
  overflow-x: hidden;
}

body.day {
  background-color: var(--day);
  color: var(--night);
}

body.night {
  background-color: var(--night);
  color: var(--day);
}

body.day .menu {
  background-color: var(--day);
}

body.night .menu {
  background-color: var(--night);
}

i {
  font-style: normal;
}

.icon:before {
  font-family: 'MeteoconsRegular';
  content: attr(data-icon);
}

/* Menu */
.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.menu a {
  text-decoration: none;
  color: var(--gray);
}

.menu a:hover {
  cursor: pointer;
  scale: 1.2;
}

