/* Globals specific for this page */
#next-seven {
  margin: 1rem 2rem 3rem;
}

#next-seven h1 {
  font-size: 1rem;
  margin-top: 2rem;
}

/* Location */
.location {
  font-size: 0.7rem;
  text-align: center;
}

.country {
  font-weight: normal;
}

/* Current data */
.day__container {
  margin: 0 0 1.5rem;
}

.day__data {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.day__data div {
  display: flex;
  align-items: center;
}

.day__data i {
  font-size: 2rem;
}

.day__data p {
  margin: 0 0 0 0.5rem;
}

.lowest-temp {
  color: var(--gray);
}

.day__indicators {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 0.7rem;
  gap: 0.5rem 2rem;
}

.day__indicators p {
  margin: 0;
  font-weight: bold;
}

.day__indicators div {
  display: flex;
  justify-content: space-between;
}

.indicator-value {
  color: var(--gray);
}

/* Menu */
body.day #calendar-button {
  color: var(--night);
}

body.night #calendar-button {
  color: var(--day);
}

/* Colors */
body.day .icon {
  color: var(--red);
  background: -webkit-linear-gradient(-45deg, var(--orange), var(--red));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.night .icon {
  color: var(--red);
  background: -webkit-linear-gradient(
    -45deg,
    var(--blue),
    var(--darkpurple),
    var(--purple),
    var(--blue)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
